.alert {
  @extend .container;
  flex-grow: 1;
  padding: 2em;
  text-align: center;
  font-size: 120%;

  &.alert-success {
    background: $success;
  }

  &.alert-error {
    background: $error;
  }

  &.alert-danger {
    background: $danger;
  }
}

.region-highlighted {
  @extend .row;
}
