.flex {
  display: flex;
  flex-direction: row;
  width: 100%;

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around;
  }

  &.middle {
    align-items: stretch;

    > * {
      align-self: center;
    }
  }

  &.bottom {
    align-items: flex-end;
  }

  &.top {
    align-items: flex-start;
  }

 .flex-hog {
   flex-basis: 100%;
 }
}
