/* $heroPrimary: #820263;
$heroSecondary: #2E294E;
$heroTertiary: #D90368;
$heroQuintenary: #EAEAEA;
$heroQuarternary: #FFD400;

 */
/* RGB */
$color1: rgba(85, 221, 224, 1);
$color2: rgba(51, 101, 138, 1);
$color3: rgba(47, 72, 88, 1);
$color4: rgba(246, 174, 45, 1);
$color5: rgba(242, 100, 25, 1);


$turquoise-blue: $color1;
$calypso: $color2;
$pickled-bluewood: $color3;
$sea-buckthorn: $color4;
$flamingo: $color5;

$white: #fff;
$light-grey: #f2f2f2;
$grey: #aaa;
$boulder: #777;
$black: #333;
$extra-light-grey: #fafafa;
$elephant: #0d2d38; /* dark blue */
$grenadier: #D43900; /* Orange for link */
$fire: #AA2E00; /* Orange for hover */

/* Social Colours */
$twitter-blue: #1DA1F2;
$facebook-blue: #3b5998;
$linkedin-blue: #0077b5;
$email-blue: $elephant;

$twitter-background: $twitter-blue;
$facebook-background: $facebook-blue;
$linkedin-background: $linkedin-blue;
$email-background: $email-blue;

$textColor: $elephant;
$textColorLowlight: $grey;
$backgroundColor: $white;

$formInputBorderColor: $flamingo;

$siteButtonTextColor: $white;
$siteButtonBorderColor: $grenadier;
$siteButtonArrowColor: $white;
$siteButtonBackgroundColor: $grenadier;
$siteButtonTextColorHover: $white;
$siteButtonArrowColorHover: $white;
$siteButtonBorderColorHover: $fire;
$siteButtonBackgroundColorHover: $fire;

$tagButtonTextColor: $calypso;
$tagButtonBorderColor: $turquoise-blue;
$tagButtonArrowColor: $calypso;
$tagButtonBackgroundColor: $light-grey;
$tagButtonTextColorHover: $white;
$tagButtonArrowColorHover: $white;
$tagButtonBorderColorHover: $turquoise-blue;
$tagButtonBackgroundColorHover: $elephant;

$categoryButtonTextColor: $white;
$categoryButtonBorderColor: $flamingo;
$categoryButtonArrowColor: $white;
$categoryButtonBackgroundColor: $sea-buckthorn;
$categoryButtonTextColorHover: $white;
$categoryButtonArrowColorHover: $white;
$categoryButtonBorderColorHover: $calypso;
$categoryButtonBackgroundColorHover: $flamingo;

$slideshowControlColor: $sea-buckthorn;

$blockQuoteBorderColor: $light-grey;
$blockQuoteColor: $flamingo;


$textShadowColor: $black;

$linkColor: $grenadier;
$linkColorHover: $fire;

$linkColorInverted: $white;
$linkColorHoverInverted: $grenadier;

$productItemBackground: $elephant;
$productItemBackgroundHover: $pickled-bluewood;
$productItemLinkColor: $white;
$productItemLinkColorHover: $turquoise-blue;
$productItemNormalPrice: $grey;
$productItemSKUColor: $grey;

$productItemOnSaleTagColor: $white;
$productItemOnSaleTagBackground: $flamingo;

$dividerColor: $grey;
$dividerLinkColor: $linkColor;
$dividerLinkColorHover: $linkColorHover;

$mainMenuBackground: $white;
$mainMenuTextColor: $pickled-bluewood;
$mainMenuBorderColor: transparent;
$mainMenuLinkColor: $black;
$mainMenuLinkBorderColor: transparent;
$mainMenuLinkColorHover: $calypso;
$mainMenuLinkBorderColorHover: $elephant;
$mainMenuLinkBorderColorActive: $fire;
$mainMenuBackgroundHover: $light-grey;

$footerBackground: $elephant;
$footerTextColor: $white;
$footerBorderColor: transparent;
$footerLinkColor: $linkColorInverted;
$footerLinkBorderColor: transparent;
$footerLinkColorHover: $linkColorHoverInverted;
$footerLinkBorderColorHover: $turquoise-blue;
$footerLinkBorderColorActive: $turquoise-blue;

$promobarBackgroundColor: $elephant;
$promobarBackgroundColorHover: $fire;
$promobarTextColor: $white;

$promobarLinkColor: $linkColorInverted;
$promobarLinkColorHover: $linkColorHoverInverted;

$imageCaptionBackgroundColor: $elephant;
$imageCaptionColor: $white;

$commerceVariantSelectedColor: $elephant;
$commerceVariantUnselectedColor: $elephant;
$commerceVariantLoadingColor: $grey;

$socialSharingBannerBackground: $extra-light-grey;
$publishedDateBannerBackground: $extra-light-grey;


/*
  Start messaging colours:
    - Success
    - Error
    - Danger
    - Info
*/
$honeydew: #edffed;
$forest-green: #209920;

$we-peep: #f7dad6;
$dark-candy-apple-red: #a40000;

$geyser:  #d0d9dd;
$steel-blue: #3f88a8;

$maverick: #dac0cb;
$dark-raspberry: #82234a;

$success: $honeydew;
$successText: $forest-green;

$danger: $we-peep;
$dangerText: $dark-candy-apple-red;

$information: $geyser;
$informationText: $steel-blue;

$error: $maverick;
$errorText: $dark-raspberry;
/*
  End messaging colours:
*/

$paymentMethodExpiredColor: $dangerText;

$orderCompletedTextColor: $successText;
$orderCanceledTextColor: $dangerText;
