.user-payment-methods {

  .local-actions {
    @extend .container;
    text-align: right;
    margin-top: 1em;
  }

  .commerce-payment-method-add-form {
    @extend .container;

    .credit-card-form {
      @extend .clearfix;
      padding: 1em 1em 2em;
      border-bottom: 1px solid $dividerColor;

      &::before {
        content: 'Payment Details';
        @extend h4;
        margin-bottom: 1em;
        margin-left: -1em;
      }

      + div {
        @extend .clearfix;
        padding: 1em;

        [class*='address-given-name'],
        [class*='address-family-name'] {
          width: 50%;
          float: left;
          margin-right: 0;
          padding-right: .75em;
        }

        [class*='address-family-name'] {
          padding-right: 0;
          padding-left: .75em;
        }

        &::before {
          content: "User Details";
          @extend h4;
          margin-bottom: 1em;
          margin-top: 1em;
          margin-left: -1em;
        }
      }
    }

    .credit-card-form__expiration {
      width: 30%;
      float: left;
      clear: left;
    }
    .form-item-payment-method-payment-details-security-code {
      width: 30%;
      float: left;
      clear: right;

    }
  }

  .table-responsive {
    @extend .container;

    thead {

      th {
        @extend h4;

        &:last-of-type {
          visibility: hidden;
        }
      }
    }

    tbody {

      td {

        .links {
          list-style-type: none;
          margin: 0;
          padding: 0;

          a {
            @extend .btn;
            @extend .btn-sm;
            padding: .5em .75em;
          }

          .delete {
            // targets delete links
            a {
              @extend .btn-danger;

              &::after {
                content: '\f014';
                font-family: FontAwesome;
                padding-left: .5em;
                display: inline-block;
              }
            }
          }
        }

        strong {
          // should only target the expired text, given current setup
          color: $paymentMethodExpiredColor;
        }
      }
    }
  }
}
